.loginMain-container {
  margin: auto;
}

hr {
  border-top: 1px solid black;
  width: 60%;
}

.login-container {
  background: var(--secondary-color-one);
  max-width: 450px;
}

.miniMap-container {
  background: var(--white-0);
}

h2 {
  color: var(--main-text);
}
