.errorContainer {
    background-color: var(--white-0);
}

.errorPicture {
    background-image: url('./../../ressources/error_dataNotFound.jpg');
    background-size: cover;
    background-position: 50%;
}