.loader {
  width: 60px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(var(--btn-accent-bg) 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%;
  }
  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%;
  }
  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%;
  }
  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.loadingContainer {
  background-color: var(--white-0);
  border-radius: 2rem;
  border-width: 2px;
  border-color: var(--secondary-color-border);
}

.loadingContainer article {
  background-color: var(--secondary-color-one);
}
